html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  font-weight: 300;
}

.navbar-default {
  background:transparent;
  border:none !important;
  opacity: .9 !important;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: 'Lato';
  font-size: 16px;
  /*letter-spacing: 6px;*/
  border-bottom: 1px solid transparent;
  padding: 0 15px 0 15px; /*removing spacing*/
  margin: 14px; /*add spacing*/
  transition: all 0.5s linear; /* vendorless fallback */
    -o-transition: all 0.5s linear; /* opera */
    -ms-transition: all 0.5s linear; /* IE 10 */
    -moz-transition: all 0.5s linear; /* Firefox */
    -webkit-transition: all 0.5s linear; /*safari and chrome */
}

a:hover {
  text-decoration: none;
}

navbar-wrapper {
  position: fixed;
  max-width: 100% !important;
  margin-top: -1px;
}

nav a {
  background-color: transparent !important;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: transparent !important;
  text-decoration: none !important;
  color: #fff;
  font-size: 150%;
  transition: all 1s ease-in-out;
}

.nav-margin {
  margin-right: 50px;;
}

.active {
  text-decoration: underline;
}

.spacer {
  height:100px;
}

p {
  line-height: 3rem;
}

 /* ------ PARALLAX ------- */

.fullcreen {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background {
  background-repeat:no-repeat;
  /* custom background-position */
  background-position:50% 50%;
  /* ie8- graceful degradation */
  background-position:50% 50%9 !important;
  /*padding-top: 40px;*/
  padding-bottom: 40px;

}
.background.road-trees {
  background-image: linear-gradient(
      rgba(18, 39, 32, 0.9),
      rgba(255, 255, 255, 0)
    ),url('../images/road-trees.jpg');
}
.background.water {
  background-image: url('../images/water.jpg');
}
.background.pelicans {
  background-image: url('../images/pelicans.jpg');
}
.fullscreen,
.content-a {
   width:100%;
   height:100%;
   overflow:hidden;
}
.fullscreen.overflow,
.fullscreen.overflow .content-a {
   height:auto;
   min-height:100%;
}

/* content centering styles */
.content-a {
   display:table;
}
.content-b {
   display:table-cell;
   position:relative;
   vertical-align:middle;
   text-align:center;
}

/* ------ TITLE PAGE ----- */
.hero {
  width: 400px;
  max-width: 100%;

}
.vertical-center {
  height:100%;
  width:100%;

  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: " ";
  display: inline-block;
  vertical-align: middle;    /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
                           /* reset the font property */
  font: 16px/1 "Lato", Helvetica, Arial, sans-serif;
}

.tj-title {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  font-size: 100px;
  font-weight: 500;
  text-align: center;
  margin-bottom: -10px;
}

hr {
  max-width: 30%;
  text-align: center;
}

.full-stack {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  font-family: 'Tangerine', cursive;
  letter-spacing: 2px;
  font-size: 32px;
  color: #fff;
  margin: -10px 0 -10px 0;
}
.fancy {
  overflow: hidden;
  text-align: center;
}
.fancy span {
  position: relative;
}
.fancy span:before,
.fancy span:after {
  $linesHeight: 7px;
  content: "";
  position: absolute;
  height: $linesHeight;
  top: 50%;
  margin-top: floor(-$linesHeight / 2);
}
.fancy-fullstack span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy-fullstack span:after {
  left: 100%;
  margin-left: 15px;
}

.fancy-fullstack span:before,
.fancy-fullstack span:after {
  width: 600px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}
/* ------ ABOUT ------ */
.img-circular {
  margin: auto;
  width: 300px;
  height: auto;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: center;
  display: block;
}

#about {
  padding: 50px;
  min-height: 400px;
}

.bio {
  margin: auto;
  padding-top: 50px;
  font-size: 20px;
  text-align: center;
  width: 500px;
  max-width: 100%;
}

/* ------- SKILLS --------*/
.icons {
  margin-top: -50px;
}
.icon {
  opacity: .8;
  margin-top: 25px;
  font-size: 5em;
  text-align: center;
}

.title-h3 {
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  font-size: 60px;
  color: white;
  margin: 50px;
}

.fancy-skills span:before,
.fancy-skills span:after {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
  width: 400px;
}
.fancy-skills span:before {
  right: 100%;
  margin-right: 25px;
}
.fancy-skills span:after {
  left: 100%;
  margin-left: 25px;
}

/* ------- PROJECTS ------- */
.project {
  margin: auto;
  max-width: 100%;
  height: 250px;
  border: 1px solid #000;
  vertical-align: center;
  position: relative;
  background-position: center;
  background-size: cover;
  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.produce-app {
  background-image: url('../images/produce-app.png');
}
.medidate {
  background-image: url('../images/Medidate.png');
}
.projects {
  background-position: center;
  background-repeat: repeat;
}
.projects.bg-image {
  background-image: url('../images/handmadepaper_@2X.png');
}
.title-h4 {
  text-align: center;
  font-size: 20px;
}

#projects {
  height: 800px;
}

/* ------ SOCIAL ------*/
.social [class*="fa fa-"] {
  background-color: #000;
  border-radius: 100px;
  border-width: 1px;
  color: #fff;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin: auto 3px;
  width: 50px;
  max-width: auto;
  font-size: 35px;
  text-align: center;
  opacity: .5;
}
.fa-github {
  font-size: 40px;
}

.follow-me {
  margin-top: 50px;
  text-align: center;
  width: 500px;
  max-width: auto;
}
.col-centered {
  float: none;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width : 480px) {
  body {
    font-size: 75% !important;
    margin: 0 auto;
    padding: 0;
  }
  .container {
    width: 60%;
  }
  #index-banner .section {
    top: 0;
  }
  .title-h3 {
    font-size: 40px;
  }
  .tj-title {
    font-size: 50px;
  }
  .full-stack {
    font-size: 20px;
  }
  .icon {
    font-size: 6em;
  }
  .social [class*="fa fa-"] {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
  }
  .follow-me {
    width: 200px;
  }

}

/*@media only screen and (max-width : 375px) {
  .text-center {
    margin-left: -170px;
  }
}*/

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (max-width: 601px) {
  .circle {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section.no-pad-bot {
  padding-bottom: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.page-footer {
  padding-top: 20px;
  background-color: #000;
}

.page-footer container {
  height: 50px;
}

.page-footer .footer-copyright {
  overflow: hidden;
  min-height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}
footer.page-footer {
  margin: 0;
}

/* ------ PRELOADER ------- */
.preloader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #2b2d35;
  /* background-color is important, or it will be see-through, and we don't want that! */
  text-align: center;
  z-index: 9999999;
}
.preloader .spinner {
  margin: 100px auto 0;
  width: 70px;
  height: 70px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.preloader .spinner > div {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.preloader .spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.preloader .spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
